<%@interest_season = generate_season_interest(@filter_code,@random_interest)%>
<%if @interest_season.blank?%>
  <div class="sidebar--left__header">	
		No Interest selected
	</div> 
	<div class="no_season small_bark_font_method">
		<div class="default_season">
			<%=image_tag('season_default.png')%>
		</div>
		<br/>
			No interest 
		<br/>
		<div class="season_text third_font_method">
			Select an Interest type to get an incredible Stagemine experience
		</div>
	</div>	
<%else%>
	<%if Season.all.blank?%>
		<div class="sidebar--left__header">					
			No Season
		</div> 
		<div class="no_season small_bark_font_method">
			<div class="default_season">
				<%=image_tag('season_default.png')%>
			</div>
			<br/>
				No season at this time
			<br/>
			<div class="season_text third_font_method">
				A season a period were users accumulate points by enrolling in different dance leagues and tasks.
			</div>
		</div>
	<%else%>
		<%=render :partial=>"season_component"%>	
	<%end%> <!-- end of "if season.blank?"-->
<%end%> <!--end of "no interest"-->