<div class="facebox_header">
	Task Status
</div>
<div class="task_sidebar1 color_header">
		<%if @user.tasks.blank?%>
		
			<table align="center">
				<tr>
					<td>
					<%=image_tag("task_sample.png")%>
					</td>
					
					<td>
						No Task
					</td>
								
				</tr>
				
			</table>
			
		<%else%>
		
				<%if @user.tasks.last.status == "inactive" or @user.enrolls.last.status == 0%>
					<table align="center">
						<tr>
							<td>
							<%=image_tag("task_sample.png")%>
						    </td>
							
							<td>
								Task Ended
							</td>
		
						</tr>
					</table>
					
				<%else%>
				<div class="enrolled_task_display">
							<table align="center">
								<tr>
									<td width="83%">
										<span class="task_timer">
											<%@recent_enrolled_task = @user.tasks.last%>
											<%=@duration=(@recent_enrolled_task.end_date.to_date - DateTime.now.to_date).to_i %><br/>
										</span>
									 </td>
								</tr>
								<tr>
									<td>																		
										<%if @duration > 1%>										
											days remaining											
										<%else%>										
											day remaining											
										<%end%>
									</td>
								</tr>
							</table>						

					</div>
					
				<%end%>
		<%end%>
</div>

