<br/>
<br/>
<div class="welcome_note">
	<i>Welcome Luis Saffie</i>
</div>
<div class="sign_container">
	<div class="welcome_box">
		<%=link_to "Register", users_path%>
	</div><br/>
	<div class="welcome_box">
		<%=link_to "Login", login_path%>
	</div>

</div>