<div class="portfolio_top_container">
  <div class="portfolio_top_continer--content">
    <%if has_portfolio_content(@user.id) == "no"%>
      <%= render :partial=>"default_cover"%>
    <%else%>
      <%if @user.portfolio_cover.cover_type == "vid"%>
        <%= render :partial=>"video_cover"%>
      <%else%>
        <%if @user.portfolio_cover.cover_type == "pic"%>
          <%= render :partial=>"pic_cover"%>
        <%end%>
      <%end%>
    <%end%>
  </div>  
</div>


