// Place all the styles related to the comment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.see_all_comment{ 
  float: right;
  padding-top: 7px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
  padding-bottom: 6px;
  background-color: #646478;
  color: white;
  text-align: center;
  width: 50px;
  margin-left: 10px;
  border: 1px solid lightblue;
  font-size: 11px; 
}

.comment-radi__alternative{ 
  border-radius: 100%;
  width: 40px;
  height: 40px;
  float: left;
  margin-left: 4px;
}

.comment_radi{ 
  border-radius:100%;
  width:40px;
  height:40px;
  margin-top :9px;
  margin-left:7px;
  float:left; 
}

.comment__owner__image{ 
  width: 257px;
  margin-left: 7px;
  margin-top: 12px;
  float: left;
}

.comment__owner__image p {
  padding: 0;
}

.comment__owner {
  margin-top: 10px;
  height: 54px;
  border-bottom: 1px solid lightblue;
}
.all-comment__box{
  min-height: 40px;
  margin-left: 53px;
  margin-top: 10px;
  padding-right: 6px;
  width: 223px;
}
.all-comment__box p {
  padding: 0;
}

.feed_comment_box{
 min-height:40px;
 margin-left:47px;
 margin-top:15px;
 padding-right:2px;
 width:270px; 
}

.lower_comment_form{ 
  margin-top:10px;  
}

.comment_link{ 
  margin-left:15px;
  margin-top:20px;
}

.comment_link a{ 
  color:rgb(170,170,170);
  font-size:smaller;  
} 

.blank_comment_link { 
  text-align:center;
  cursor:pointer;
  padding-bottom:5px;
}

.comment_text_field{ 
  width: 310px; 
  height: 100px;
  padding: 5px;
  margin-top:5px;
  resize: none;
  border:none;
  border-bottom:1px solid lightblue;
  resize:none;
}

.comment_user_info {
  width: 227px;
  margin-left: 15px;
}
.delete-comment a{ 
  float: right;
  width: 17px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: gray;
}
.delete-comment a:hover{ 
  text-decoration: none;
  color:black;
}

.comment_text_field_v2{ 
  width:283px;  
  height: 100px;
  padding: 5px;
  resize: none;
  border:none;
  border-bottom:1px solid lightblue;
}

.add_comment_field{ 
padding-top:5px;
padding-bottom:5px;
background-color:white;
text-align:center;
width:190px;
cursor:pointer;
border:1px solid lightblue; 
}

#form_btn_comment{ 
width:40px;
text-align:center;
margin-top:3px; 
margin-left:50px; 
}

.comment__form{ 
  margin-top:41px;
}
.add_comment_field_alternative{ 
  padding-top:5px;
  padding-bottom:5px;
  background-color:white;
  text-align:center;
  width:190px;
  cursor:pointer; 
  font-size:11px;
  margin-left:65px;
  margin-top:5px;
  border:1px solid lightblue;
}

.cancel_comment{ 
  float: right;
  padding-top: 5px;
  border-radius: 2px;
  padding-bottom: 5px;
  background-color: rgb(134,198,63);
  color: white;
  text-align: center;
  width: 56px;
  font-size: 11px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 4px;
  border: 1px solid lightblue;
}

.all_comment_partial{ 
  width: 293px;
  float: right;
  margin-top: 10px;
  background: #eeeeee;
  border: 1px solid lightblue;
}