.enrolled_users {
  margin-left:40px;
  margin-top:11px;
  font-size:small;
  font-weight:400;
  color:#2b6cc2;  
}
.enrolled_users ul {
  position:relative;
  padding-top:2px;
  padding-bottom:2px;
}
.rep-nav ul li {
  position:relative;
  list-style:none;
  top:5px;  
}
.rep-nav ul li ul {
  position:absolute;
  left:0;
  right:0;
}
.rep-nav ul .rep-clicker {
  position:relative;
  background:transparent;
  cursor:pointer;
  color:rgb(100,100,115);
  padding-right: 13px; 
}
.rep-nav ul .rep-clicker:hover,.rep-nav ul .active {
  background:transparent;
}

.rep-nav {
  text-align: center;
  padding-top: 29px;
  padding-bottom: 11px;
  width: 183px;
  margin: auto;
}

.hidden_box{ 
  height: 54px;
}
.register_box {
  border: 1px solid rgb(100,100,115);
  padding-top: 30px;
  margin-top: -1px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 511px;
  background-color: white;
  text-align: left;
}

.register_container{ 
  width:400px;
  height:390px;
  margin:auto;  
  margin-top: 10px;  
}

.create-container{ 
  width: 473px;
  height: 657px;
  margin: auto;
  text-align: center;
  margin-top: 2%;
}

.optional_region {
  width: 375px;
  margin: auto;
  padding-top: 10px;
  p{ 
    margin: 0;
    padding: 0;
    padding-bottom: 7px;    
  }
}

.rep-nav ul li:first-child { 
  border-top:1px solid lightblue;
}

.rep-nav ul li {
  display:block;
  background:#FFF;
  font-size: 1em;
  padding-left: 5px;
  padding-top:5px;
  padding-bottom:5px;
  color:#2b6cc2; 
  cursor: pointer;
  border-bottom:1px solid lightblue;
  border-right:1px solid lightblue;
  border-left:1px solid lightblue;
  text-decoration:none;
}

#country_box, #city_box, #school_box{ 
  display:none;
  margin-left: 10px;

  p{ 
    margin: 0;
    padding-left: 0;
  }
}

.rep-nav ul li a:hover {background:#F2F2F2;}
.rep-nav .rep_container ul {display:none;}
.rep-nav .rep_container:hover ul {display:block;}

.rep_container:focus .onclick-menu-content {
  display: block;
}

.rep_container{   
  color: white;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.rep_container:focus{ 
  outline:0;
}

.form_text {
  padding: 5px;
  text-align: center;
  border-bottom: 1px dotted lightblue;
  margin-top: 12px;
}