#imagepop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  text-align: left;
}


#imagepop .popup{
  position:relative;
  top:0px;
  width:400px;
  border:3px solid rgba(0,0,0,0);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}

#imagepop .popcontent {
  display:table;
  width:400px
  height:390px
  background: transparent;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;

}

#imagepop .popcontent > p:first-child{
  margin-top:0;
}
#imagepop .popcontent > p:last-child{
  margin-bottom:0;
}

#imagepop .close{
  position:absolute;
  top:5px;
  right:0px;
  padding:2px;
  
}

#imagepop .close img{

}
#imagepop .close:hover img{

}

#imagepop .loading {
  text-align: center;
}

#imagepop .image {
  text-align: center;
}

#imagepop img {
  border: 0;
  margin: 0;
}

#imagepop_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.imagepop_hide {
  z-index:-100;
}

.imagepop_overlayBG {
  background-color: #000;
  z-index: 199;
}

