// Place all the styles related to the edit controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.task_notification__icon {
  width: 60px;
  margin: auto;
  margin-top: 41px;
  height: 51px;
}

.task_notification--small{
  height: 95px;
  margin-top: 19px;
  padding-top: 30px;
  text-align: center;
  width: 330px;
  background: white;
  border: 1px solid lightblue;
  border-top: 3px solid lightblue;
  display: inline-block;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}

.task_notification--winner{ 
  height: 163px;
  margin-top: 19px;
  padding-top: 12px;
  text-align: center;
  width: 330px;
  background: white;
  border: 1px solid lightblue;
  border-top: 3px solid lightblue;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  display: inline-block;
}

.task_winner_icon{ 
  width: 34px;
}

.task_reward_positioning{ 
  float:right;
}

.task_feed_content{ 
  padding:15px 0px 10px 10px;
}

.task_notification--small:hover{ 
  border-top: 1px solid lightblue;
  padding-top:32px;
  -moz-box-shadow: inset 1px 1px 1px #bbb;
  -webkit-box-shadow: inset 1px 1px 1px #bbb;
  box-shadow: inset 1px 1px 7px #bbb;
} 

.no_task_label {
  width: 165px;
  margin-left: 151px;
}

.vote_container{ 
  text-align: center;
  margin-top: 10px;
  height: 70px;
}

.task_notification_winner {
  text-align: center;
  margin-top: 10px;
}

.task_winner_user_info {
  padding-top: 13px;
  padding-bottom: 4px;
}

.task_winner_user_image {
  border: 1px solid black;
  margin-left: 102px;
  border-radius: 100%;
  width: 55px;
  height: 55px;
  float: left;
}

.task_winner_user_name {
  width: 126px;
  margin-left: 169px;
  height: 49px;
  text-align: left;
  margin-top: 7px;
}

.task_winner a:hover{ 
   text-decoration: none;
}
.task_winner{ 
  border-right:1px solid lightblue;
  margin-right:6px;
  width:430px;
  background-color:white;
  height: 98px;
  padding-bottom:5px;
  /*background: -webkit-linear-gradient(white, #eeeeee); /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(white, #eeeeee); /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(white, #eeeeee); /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(white, #eeeeee)); /* Standard syntax (must be last) */
}
.task_winner_header{ 
  text-align: center;
  padding-top:7px;
  padding-bottom:7px;
  text-align: left;
  padding-left:2px;
  padding-right:2px;
}
.task_notification_count{ 
  margin-top:0px; 
}

.task_name_header{ 
  text-align: center;
  padding-bottom: 11px;
  padding-top: 8px;
  margin-left: 83px;
  margin-right: 80px;
}
.task_list{ 
  padding:15px;
  padding-bottom:25px;  
}
.task_list a{ 
  font-size:0.85em; 
}

.task_list_header{ 
  text-align:center;
  text-decoration:underline;
  font-size:small;
  height:20px;
}
.task_container{ 
  width: 536px; 
  text-align: center;
  padding-top:50px;
}

.task_sidebar{ 
  float:left;
  width:30px;
  background-color:rgb(53,188,128);
  color:white;
  font-weight:bold;
  text-align:center;
  height:23px;
  padding-top:7px;  
}

#task_video{ 
  text-align: center;
}
.task_season_container{ 
  border-left:1px solid lightblue; 
  width:250px;
  margin-left:410px;
  min-height:100px;
  padding-top:4px;
  padding-left:7px;
  padding-right:2px;
  margin-top:10px;
  margin-bottom:10px;
}

.task_count{ 
  width:10px;
  height:10px;
  padding:7px;
  float:left;
  padding-top:2px;
  font-weight:bold;
  text-align:center;
  border-radius:10px;
  background-color:rgb(140,198,63);
  color:white;  
}

.task_details{ 
  margin-left:30px; 
}
.task_details_feed{ 
  margin-left:1px;    
}
.task_duration{ 
  font-size:0.83em;
  font-weight:bold;
  margin-top:13px;
  p{
    margin-left: -14px;
    margin-top: 4px;
  }
}

.task_time_left { 
  float: right;
  margin-top: 36px;
  width: 101px;
  text-align: left;
  margin-right: 10px;
}

.task_duration_header{ 
  text-align: center; 
}
.task_title{ 
  color:#333;
  font-size: 1em;
  font-weight:bold;
  text-decoration: underline;
}

.task_reward{ 
  float: right;
  width: 160px;
  border-left: 1px dotted #86C63F;
  padding-left: 6px;
}

.task_reward_display{ 
  float: right;
  margin-top: 17px;
  padding-right: 5px;
  text-align: right;
  width: 179px;
}

.task_interest_link {
  margin-top: 19px;
}

.task_interest {
  margin-top: 25px;
  width: 140px;
}

.enrolled_task_display{ 
  text-align: center; 
  font-weight:normal;
}

.task_menu{ 
  float:left;
  height:100vh;
  width:160px;
}


.task_body{ 
  margin-left:165px;
  border-left:1px solid lightblue;
  height:100vh;
  padding-left:5px; 
}
.task_header_title{ 
   background-color:#eeeeee;
   border-bottom-right-radius:5px;
   padding-top:8px;
   height:22px;
   margin-top:2px;
   font-size: 0.8em;
}
.task_timer{ 
  font-size: 16px;
  text-align: center;
  font-weight: normal;
  color: #646473;
  padding-bottom: 5px;
  font-weight: bold;
  text-align: center;
}

.task_small_icon{ 
  float: left;
  margin-left: 5px;
  text-align: left;
  height: 38px;
  margin-top: 13px;
 }

.task_enrrolled_align{
  text-align: center;
}

.task_body_info{ 
  background-color:white;
  padding:5px;
  padding-top:15px;
  border:1px solid lightblue;
  border-radius:5px;  
  min-height:300px;
}
.task_feed_content{ 
  padding:15px 0px 10px 10px;
}

.task_display{ 
  float:left;
  width:140px;
  text-align:center
}

.task-help{ 
  height: 20px;
  margin-top: 6px;
  width:120px;
  float:right;
}
.hidden_task_box{ 
  float:right;
  margin-top:5px;
  width:100px;
  margin-right:5px;
  text-align: center;
}

.task_cover{ 
  display:none;
  padding-top:4px;
  float:left;
  text-align: center;
  width:240px;
}
.task_user_info_container{ 
  width:400px;
  margin-left:54px;
  padding-top:5px;
  padding-bottom:20px;
}
.task_user_info{ 
  float: right;
  width: 315px;
  margin-top: 20px;
  height: 52px;
}
.task_position_left{ 
  float: right;
  font-size: 18px;
  font-weight: normal;
  color: #646473;
  font-weight: bold;
  text-align: center;
  width: 70px;
  margin-top: 13px;
}

.task_mini_header{ 
  text-align: center;
  font-size:11px;
  padding-top:5px;
  padding-bottom:5px;
  background-color:#eeeeee; 
}


.task_sidebar1{ 
  width: 60%;
  height: 83px;
  padding-top: 20px;
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
  color: #333;
}

.task_user_radi{ 
  border-radius:100%;
  width:75px;
  height:75px; 
  margin-top :10px;
}

.task-arrow-up{ 
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;  
  border-right: 10px solid transparent; 
  border-bottom: 10px solid #eeeeee;
  font-size: 0;
  line-height: 0;
  margin:0px auto;
  position:relative;
  top:158px;
  right:90px; 
}

.task_entrolled_link a{ 
  font-size:smaller;
}

.task_feed_icon{ 
  text-align:center;
  color: rgb(55,189,129);
  font-size:18px; 
  font-weight:bolder;
}

.task_info{ 
  font-size:0.8em;  
}

.task_status{ 
  float:right;
  width:75px;
  height:30px;
  margin-top:17px;
  margin-right:4px;
  font-size:0.7em;
  font-weight:bold;
  text-align: center;
}

.task_title_font{ 
  font-size:large;
  text-decoration: underline;
}
.task_interest_label {
  border: 1px solid rgb(134,198,63);
  width: 52px;
  border-left: 0;
  padding-left: 10px;
  background-color: lightblue;
}