<div class="store_container">
  <div class="store_content">
    <div class="store_content__icon">
      <%=image_tag("large_logo.png")%>
    </div>
    <div class="store_content__title">
      <span class="google_font_type1--larger">Stagemine</span> 
      <span class="small_light_font">&nbsp;&nbsp; store.</span>
    </div>
    <div class="store_content__body light_grey_font">
      Welcome to the StageMine store. Use your points to purchase items
    </div>
  </div>  
</div>

<div class="store_item_list small_light_font">
  Items are unavailable at the moment.
</div>