<!DOCTYPE html>
<html>
<head>
    <title>Giga</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>	<style type="text/css">
	body {
		  font-family: 'Oxygen', sans-serif;
		  margin: 0;
		  padding: 0;
		  color: #000;
		  height:100%;
		  background-color:rgb(229,229,229);
	
      } 
	</style>
</head>
<body>
<script>
  jQuery(document).ready(function($) {
    $('a[rel*=facebox]').live("mousedown", function() { 
	    $(this).unbind('click'); //everytime you click unbind the past event handled.
	    $(this).facebox();
	});
	$('a[rel*=imagepop]').live("mousedown", function() { 
	    $(this).unbind('click'); //everytime you click unbind the past event handled.
	    $(this).imagepop();
	});
  });
</script>

<%=yield%>

<script>
$(document).ready(function(){ 
	  $('a[rel*=block]').block();
	  if($(window).width() < 1035)
	  { 
		$('.sidebar1').hide();
	 	$('.sidebar2').hide(); 
	 	$('.task_cover').show(); 	 	
	  }	  
	  else if($(window).width() > 1035)
	  { 
		$('.sidebar1').show();
	    $('.sidebar2').show();
	    $('.task_cover').hide(); 
	  }	  
	$(window).resize(function() {
	  // This will execute whenever the window is resized	 
	  if($(window).width() < 1035)
	  { 
		$('.sidebar1').hide();
		$('.sidebar2').hide();
		$('.task_cover').show(); 
	  }
	  else if($(window).width() > 1035)
	  { 
		$('.sidebar1').show();
		$('.sidebar2').show();
		$('.task_cover').hide(); 	
	  }	
	});
	});	
	$( ".task_header_title" ).fadeOut( "slow" );
	$( ".task_header_title" ).fadeIn( "slow" );
	$('.delete_link').hide(); 
	
		 <%unless Season.all.blank? %>
			  <%@season_duration = Season.last%>
			  <%if @season_duration.status == "active" and (@season_duration.end_date.to_date - DateTime.now.to_date).to_i < 1%>
					  window.setTimeout(function(){
					  /// call your function here
					  	 $.ajax({
					        url: '/season_checker',
					        type: 'get'
					     });
					  }, 30000); //3 mins
			  <%end%>

					   <%if Audition.where(:status=>"active") and @season_duration.status=="active" %>		  
						//window.setInterval(function(){
						  window.setTimeout(function(){	
						  /// call your function here
						  	 $.ajax({
						        url: '/audition_checker',
						        type: 'get'
						     });
						  }, 1800000); //30 mins
						<%end%>
	   <%end%>
	 	
	 <%unless @user.tasks.blank?%>
	   <%if @user.tasks.last.status == "active" and (@user.tasks.last.end_date.to_date - DateTime.now.to_date).to_i < 1 %>		  
		//window.setInterval(function(){
		  window.setTimeout(function(){	
		  /// call your function here
		  	 $.ajax({
		        url: '/task_checker',
		        type: 'get'
		     });
		  }, 3000);
		<%end%>
	 <%end%>
</script>
</body>
