<!DOCTYPE html>
<html>
<head>
    <title>Giga</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<style type="text/css">
	body {
		  font-family: 'Oxygen', sans-serif;
		  margin: 0;
		  padding: 0;
		  color: #000;
		  height:100%;
		  background-color:rgb(229,229,229);
	
      } 
	</style>
</head>
<body>
<script>
	$(document).ready(function(){ 
		alert("working app");		
	})
</script>

<%= yield %>

	<script>
	 $(document).ready(function(){  
	  if($(window).width() < 1035)
	  { 
		$('.notification_top_icon').show();
		$('.stagemine_name').hide();
		
	  }
	  else if($(window).width() > 1035)
	  { 
		$('.notification_top_icon').hide();
		$('.stagemine_name').show();
	
	
	  }
	  
	$(window).resize(function() {
	  // This will execute whenever the window is resized
	 
	  if($(window).width() < 1035)
	  { 
	    $('.notification_top_icon').show();
	    $('.stagemine_name').hide();
	  }
	  else if($(window).width() > 1035)
	  { 
		$('.notification_top_icon').hide();
		$('.stagemine_name').show();
	  }
	
	});
	});
	</script>	
</body>
</html>
