<!DOCTYPE html>
<html>
<head>
    <title>Giga</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
	
	<style type="text/css">
	body {
		  font-family: 'Oxygen', sans-serif;
		  background-color:rgb(73,52,90);
		  margin: 0;
		  padding: 0;
		  color: #000;
		  height:100%;
      } 
	</style>
</head>
<body>
<%= yield %>
</body>
